<footer class="absolute w-full left-0 bottom-0 text-xs text-center text-harlequin-800">
    <div class="space-x-5">
        <a href="https://inspired.consulting">&copy; 2023 Inspired Consulting GmbH</a>
        <a href="/">Home</a>
        <a href="/imprint.html">Imprint</a>
    </div>
</footer>