<footer class="w-full">
    <div class="flex space-x-8 py-3 text-xs text-center text-red">
        <a href="https://inspired.consulting">&copy; 2023 Inspired Consulting GmbH</a>
        <a href="/">Home</a>
        <a href="/imprint.html">Imprint</a>
    </div>
</footer>